html {
background-image: url('./assets/criss-cross.png');

}
#top-nav {
    background-color: white;
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width:2px;
    height: 10vh;
    
   
    
    
    
}


#left-panel {
width: 10%;
float:left;
height: 100%;
}

#name {
    background-color: teal;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size:2.2em;
    font-weight: bold;
    min-width: 25%;
    float: left;
    text-align: center;
    height: 100%;
    line-height: 10vh;

    
    
}
#links {
    width: 65%;
    text-align: right;
    float: left;
    
    height: 100%;
    line-height: 10vh;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: lightgrey;
    
}

#links>a {
    color: rgb(153, 153, 153);
}

#content {
    

        width: 60%;
        min-height: 65%;
        
        
        top: 20%;
        left: 20%;
        right: 20%;
        
        position: fixed;
        background-color: white;
        border-color: lightgrey;
        border-width: 2px;
        border-style: solid;
    
        

}

#header {
    color: teal;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size:2.2em;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 2px solid lightgrey;
}

#about-me-photo {
    margin-left: 5%;
    padding-right: 2%;
    padding-bottom: 2%;
}
p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: grey;
    margin-left: 5%;
    line-height: 2;
    margin-right: 5%;
    min-height: 65%;

 
}

.footer {
   background-color: rgb(85, 81, 81);
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  color: white;
  text-align: center;
  font-size:0.8em;
  line-height: 5vh;
  border-top: 5px solid teal;
   
}

form {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: grey;
    
}
form>input {
    width: 100%;
    border-radius: 3px;
    border-width: 1px;
}

#message-input {
    height: 100px;
}
#img-container {
    margin: 5%;
    
}


.project-container {
    float: left;
    position:relative;
    padding: 1%;
}
.tag {
    float: left;
    position: absolute;
    left: 3.5%;
    top: 70%;
    background-color: teal;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    width: 93.5%

}
