html {
    
background-image: url('../../assets/images/criss-cross.png');

}


#top-nav {
    background-color: white;
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width:2px;
    height: 70px;
    white-space: nowrap; /*makes the text not wrap around*/
    
    
}


#left-panel {
width: 10%;
 float:left; 
height: 100%;
}

#name {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size:2.2em;
    font-weight: bold;
    width: 25%;
    
    
   float: left; 
   text-align: center;
   height: 55px;
    padding-top: 15px;
    

    
    
}
#links {
    width: 64%;
    text-align: right;
    float: right;  /* probably remove this float */
   padding-right: 1%;
    
    
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding-top: 25px;
}

#links>a {
    color: #777777;
}
#section {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 60px;
    margin-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    
   
}
#content {
    

       
        width: 60vw;
       
        background-color: white;
        border-color: #dddddd;
        border-width: 2px;
        border-style: solid;
        
        
        
    
        

}

#header {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size:2.2em;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 2px solid #cccccc;
}

#about-me-photo {
    margin-left: 5%;
    padding-right: 2%;
    padding-bottom: 2%;
}
p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    margin-left: 5%;
    line-height: 2;
    margin-right: 5%;
    

 
}

.footer {
   background-color: #666666;
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: white;
  text-align: center;
  font-size:0.8em;
  
  padding-top:30px;
  border-top: 5px solid teal;
   
}







